body {
  background-color: #090d16;
  font-family: "Roboto", sans-serif;
}

/* In the container */
h1 {
  font-size: 36px;
  text-align: center;
}

i {
  height: 36px;
  width: 36px;
}

select {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  color: #153250;
  background-color: #c3c9de;
  border: 2px solid #153250;
  border-radius: 12px;
}

h2 {
  margin: 0;
  font-size: 28px;
}

.container {
  color: #5a435f;
  background-color: #c3c9de;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 12px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  padding: 30px 15px;
  border-bottom: 2px solid #153250;
}

.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #5a435f;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #153250;
}

/*Footer */
footer {
  text-align: center;
  margin: 5px;
  color: #c3c9de;
  font-size: 18px;
}

.git-link {
  text-decoration: none;
  color: #5a435f;
  transition: all 200ms ease-in-out;
}

.git-link:hover {
  color: #c3c9de;
}
